@font-face {
  /* Source Han Serif JP Heavy の Y 軸を 1/1.43 に縮小した改変フォント */
  font-family: "Rei no Are Mincho";
  font-display: swap;
  src: url(/fonts/ReiNoAreMincho-Heavy.woff2) format("woff2");
  font-weight: bold;
}
